#SelectionGender {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100%;
    border-top: 3px solid black;
}


#SelectionGenderButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

#SelectionGenderDualButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

#SelectionGenderDualButton > button {
    font-size:x-large;
    width: 100%;
}

/* #DualButtonGirl {

}

#DualButtonBoy {

} */

.IsGirltrue {
    background-color: rgb(0, 0, 0);
    color:white;
}

.IsGirlfalse {
    background-color: white;
}

#SelectionGenderTitle {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: xx-large;
}