#SelectionName {
    display: grid;
    grid-template-rows: 1fr 3fr;
    height: 100%;
    border-top: 3px solid black;
}


#SelectionNameTitle {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}



#SelectionNameArea {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: xx-large;
}

#SelectionName textarea {
    outline:none;
    resize:none;
    height: 85%;
    width: 90%;
    font-size:larger;
    border-radius: 4%;
}

#SelectionNameText {
    display: flex;
    justify-content: center;
}