#SelectionCreateContainer {
    height: 100%;
    border-top: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SelectionCreate {
    width: 50%;
    height: 50%;
}

#SelectionCreate button {
    height: 100%;
    width: 100%;
}