#MainChat {
    height:100vh;
    display:grid;
    grid-template-rows: 2fr 10fr 5fr;
}

#MAChatArea {
    overflow-y: auto;
    height:100%;
}

#ChatTitleContainer {
    border: 1px solid black;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 2fr;
}

#ChatTitle {
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90vw;
}



#ChatDesc {
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90vw;
    max-height: 10vh;
}



@media (max-width: 430px) {
    #MainChat {
        width:200px !important;
        font-size: x-small !important;
    }
    
    #MAChatInputContainer {
        width: 50% !important;
    }
}


@media (max-width: 430px) {

    #ChatTitleContainer {
        font-size:small !important;
    }

    #ChatDesc {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px !important;
        width: 80vw;
        display:flex;
        justify-content: start;
        font-size:x-small
    }

    #ChatTitle {
        font-size:medium;
        display:flex
    }
    
    #MAChatArea > ul {
        padding: 0px;
    }

    #MAChatArea {
        width: 100%;
    }

    #MAChatInputContainer {
        display:flex;
        align-self: end;
        justify-content: center;
        height: 50%;
        width: 200px !important;
        margin-right: 40px;
        margin-bottom:150px;
    }
}

