#MainChat {
    height:100vh;
    display:grid;
    grid-template-rows: 2fr 10fr 5fr;
}

#MAChatArea {
    overflow-y: auto;
    height:100%;
}

#ChatTitleContainer {
    border: 1px solid black;
    height: 100%;
    display:grid;
    grid-template-rows: 1fr 2fr;
}

#ChatTitle {
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}



#ChatDesc {
    font-size:x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 430px) {
    #MAChatArea * {
        font-size: x-small !important;
    }
}

@media (max-width: 430px) {
    #MAChatArea * {
        font-size: x-small !important;
    }
}

@media (max-width: 430px) {
    #MAChatInputContainer {
        width:70vw !important
    }
}

@media (max-width: 300px) {
    #MAChatInputContainer {
        width:60vw !important
    }
}

@media (max-width: 430px) {
    #ChatDesc {
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 100px !important;
        width: 80vw;
    }
    
    #MAChatArea > ul {
        padding: 0px;
    }

    #MAChatArea {
        width: 100%;
    }

}

