#MAUserMsgBubble {
    display: flex;
    justify-content: end;
    margin:10px
}

#MAUserMsgBubble > p {
    background-color:rgb(217, 216, 212);
    padding: 10px;
    border-radius: 10%;
}

@media (max-width: 430px) {
    #MAUserMsgContainer {
        max-width: 70vw;
    }
}

