#LSButtons {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 0.3fr 1.5fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;

}

#LSButtonsHeader {
    grid-column: span 3;
}

#LSButtons button {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
}

#LSButtonsLogin {
    background-color: black;
    color:white;
}

#LSButtonsSignup {
    background-color:transparent;
}

#LSButtonsSep {
    grid-column: span 3;
}