#LSPassword {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-columns: 1fr 10fr 1fr;

}

#LSPasswordHeader {
    grid-column: span 3;
}

#LSPasswordMain {
    display: flex;
    align-items: end;
    font-size: 1rem;
}

#LSPasswordInput {
    padding-right: 0;
    height: 100%;
    width: 100%;
    font-size:1.5rem
}